<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mini Project 2 - Ryan Todd</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <main class="container">
        <h1> Cocktail Recipe Finder</h1>
        <p> Get data - margarita</p>
        <form action="/get-data" method="POST">
            <input type="text" name="userInput" placeholder="e.g Margarita, Manhattan" required />
            <button type="submit">Get Data</button>
        </form>
    </main>

    <footer class="container">
        <sub>Created by Ryan Todd for CS-312 - 2024</sub>
        <sub>Data provided by <a href="https://www.thecocktaildb.com/" target="_blank" rel="noopener noreferrer">TheCocktailDB</a></sub>
    </footer>
    
</body>
</html>
