<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mini Project 2 - Ryan Todd</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <main class="container">
        <h1> MiniProject - Ryan Todd</h1>
        <p> Get data</p>
        <form action="/get-data" method="POST">
            <input type="text" name="userInput" placeholder="e.g Margarit, Manhatton" required />
            <button type="submit">Get Data</button>
    </main>
    
</body>
</html>
